
<h1>Stocks</h1>

<br>

<%= link_to 'New List', new_stock_list_path, class:"btn btn-default btn-lg" %>

<br>

<% @stock_lists.each do |cur_list| %>
  <br>
  <label style="font-size: 140%;">
    <%= cur_list.name %>
  </label>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Current Price</th>
        <th>Last Retrieved</th>
        <th>Notes</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @stocks.where(stock_list_id: cur_list.id).each do |stock| %>
        <% rec= Record.all.where(stock_id: stock.id).reverse[0]%>
        <tr>
          <td><%= stock.symbol %></td>
          <td><%= number_to_currency(rec.price) %></td>
          <td><%= rec.date %></td>
          <td><%= rec.note %></td>
          <td><%= link_to 'Show More', stock %></td>
          <td><%= link_to 'Remove', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <td align="center" colspan="100%">
        <%= link_to 'New Stock', welcome_lookup_path(list_id: cur_list.id), class:"btn btn-default" %>
        <%= link_to "Delete Stock List", {:controller => "stock_lists", :action => 'destroy', :id => cur_list.id}, :confirm => "Are you sure?", :method => :delete, class:"btn btn-default" %>
      </td>
    </tbody>
  </table>
<%end%>
