<p>
  <strong>Symbol:</strong>
  <%= @stock.symbol %>
</p>

<div class="hidden">
  <p>
    <strong>User:</strong>
    <%= @stock.user_id %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @stock.price %>
  </p>

  <p>
    <strong>Retrieved:</strong>
    <%= @stock.retrieved %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @stock.notes %>
  </p>
</div>

<%= line_chart Record.where(stock_id: @stock.id).where("price > ?", 0).group_by_day(:date).average(:price), 
  max: Record.where(stock_id: @stock.id).where("price > ?", 0).maximum(:price) +1, 
  min: Record.where(stock_id: @stock.id).where("price > ?", 0).minimum(:price) -1, 
  xtitle:"Date", ytitle:"Price",
  library: { plotOptions: {
              series: {
                connectNulls:"true" }}} %>

<% @records.each do |rec|%>
  <hr>
  <%if rec.note.nil? || rec.note.strip.empty? %>
    <strong>Price:</strong>
    <%= rec.price %><br/>
    <strong>Retrieved:</strong>
    <%= rec.date%><br/>
  <%else%>
    <strong>Retrieve Attempt</strong>
    <%= rec.date%><br/>
    <strong>Note:</strong>
    <%=rec.note%>
  <%end%>
<%end%>
<hr>

<%= link_to 'Home', stocks_path, class:"btn btn-default" %>
