<p>
  <strong>Symbol:</strong>
  <%= @stock.symbol %>
</p>

<p class="hidden">
  <strong>User:</strong>
  <%= @stock.user_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @stock.price %>
</p>

<p>
  <strong>Retrieved:</strong>
  <%= @stock.retrieved %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @stock.notes %>
</p>

<%= link_to 'Home', stocks_path, class:"btn btn-default" %>
