<h3>Search for specific symbols or companies</h3>
<br/>

<div class="panel panel-default">
    <div class="panel-heading">
    <h2 class ="panel-title">Add New Stock To List</h2>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <%= form_tag welcome_lookup_path :method => 'POST' do %>
                <%= text_field_tag 'sym', nil, placeholder: 'Enter A Symbol Or Company' , size: 50 , class:"form-control" %>
                <div class="hidden">
                    <%= text_field_tag 'list_id', value=@list_id%>
                </div>
                <br/>
                <%= submit_tag 'Lookup Stock Symbols', class:"btn btn-default" %>
            <% end %>
            <br/>
            <p> Results for: " <%=@sym_search%> " to add to " <%= @list_name%> " List</p>
        </div>
    </div>
</div>


<table class="table table-bordered table-stripped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Type</th>
            <th>Region</th>
            <th>Timezone</th>
            <th>Currency</th>
            <th>Add</th>
        </tr>
    </thead>
    <tbody>
        <%for items in @result['bestMatches']%>
            <tr>
                <td><%= items['1. symbol'] %></td>
                <td><%= items['2. name'] %></td>
                <td><%= items['3. type'] %></td>
                <td><%= items['4. region'] %></td>
                <td><%= items['7. timezone'] %></td>
                <td><%= items['8. currency'] %></td>
                <td><%= link_to 'Add', new_stock_path(symb: items['1. symbol'], list: @list_id)%></td>
            </tr>
        <%end%>
    <tbody>
</table>